@use '../sass/colors' as *;
@use '../sass/animations' as *;

.hamburger {
    display: flex;
    justify-content: space-between;
    background-color:#ffffff;

    .fa-chart-simple, .fa-bars {
        font-size: 2rem;
        padding: 10px;
        color: $black;
        background-color: #ffffff;
    }

    .logo_text {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    p {
        font-weight: 700;
        font-size: 2rem;
        color: $black;
    }
}


.nav_bar_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;


    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style: none;
        font-size: 2rem;
        background-color: #ffffff;
    }

    .nav_bar_btn {
        text-wrap: nowrap;
        padding: 8px;
        margin: 10px;
        width: 120px;
        height: 40px;
        font-size: 1.6rem;
        background-color: #ffffff;
        color: $black;
        border: 1px solid $main-first;
        border-radius: 25px;
    }

    .nav_bar_btn:active {
      background-color: $main-first;
    }

    li {
      padding: 8px; 
    }

    a:link {
    color: $main-first;
    }

    a:visited {
      color: $black;
    }

    a:active {
      color: $main-first;
    }

}

.hero_section {
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 4rem;
    padding: 20px 10px 40px;
  }

  span {
    display: block;
    background: #FF5431;
    background: linear-gradient(to right, #FF5431 0%, #ffd027 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .hero_img {
    display: flex;
    justify-content: center;
  }

  img {
   width: 300px;
   height: 200px;
   padding: 0;
   margin: 0;
   border-radius: 25px;
  }

}

@media(max-width:768px){
  .logo_text {
    display: none;
  }
}

@media(min-width: 768px){
  .hamburger {
    display: none;
  }
  
  .nav_bar_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 20px;

    ul {
        display: flex;
        flex-direction: row;
        font-size: 1.5rem;
    }

    .nav_bar_btn {
      font-size: 1.2rem;
      font-weight: bold;
      margin: 0;
      padding: 0;
      transition: background-color .3s;
    }

    .logo_text {
      display: flex;
      justify-content: space-between;
      width: 80px;
      font-size: 2rem;
      font-weight: 700;
    }

    .nav_bar_btn:hover {
      background-color: $main-first;
    }

    a {
      transition: color .2s;
    }

    a:hover {
      color: $main-first;
    }
  
  
}
}


.is_active {
    display: none;
}

  
















