@use '../sass/colors' as *;
@use '../sass/animations' as *;

.hamburger {
    display: flex;
    justify-content: space-between;
    background-color:#ffffff;

    .fa-chart-simple, .fa-bars {
        font-size: 2rem;
        padding: 10px;
        color: $black;
        background-color: #ffffff;
    }

    .logo_text {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    p {
        font-weight: 700;
        font-size: 2rem;
        color: $black;
    }
}


.nav_bar_list {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;


    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style: none;
        font-size: 2rem;
        background-color: #ffffff;
    }

    .nav_bar_btn {
        text-wrap: nowrap;
        padding: 8px;
        margin: 10px;
        width: 120px;
        height: 40px;
        font-size: 1.6rem;
        background-color: #ffffff;
        color: $black;
        border: 1px solid $main-first;
        border-radius: 25px;
    }

    .nav_bar_btn:active {
      background-color: $main-first;
    }

    li {
      padding: 8px; 
    }

    a:link {
    color: $main-first;
    }

    a:visited {
      color: $black;
    }

    a:active {
      color: $main-first;
    }

}

.hero_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 4rem;
    font-weight: 400;
    padding: 20px 10px;
    text-align: center;
  }

  span {
    display: block;
    padding: 20px 10px;
    background: #FF5431;
    background: linear-gradient(to right, #FF5431 0%, #ffd027 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .hero_img {
    display: flex;
    justify-content: center;
  }

  img {
   width: 300px;
   height: 200px;
   padding: 0;
   margin: 0;
   border-radius: 25px;
  }

}

.advantages_section  {
  display: flex;
  flex-direction: column;
  background-color: $background;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

    .advantages_text {
      display: flex;
      flex-direction: column;
      align-items: center;

        h2 {
          padding: 30px 10px 10px;
          font-size: 3rem;
          font-weight: 400;
          text-align: center;
        }
        
        .advantages_btn {
          text-wrap: nowrap;
          padding: 8px;
          margin: 10px;
          width: 140px;
          height: 40px;
          font-size: 1.6rem;
          background-color: $background;
          color: $black;
          border: 1px solid $main-first;
          border-radius: 25px;
        }
      
        .advantages_btn:active {
          background-color: $main-first;
        }
    }

    .advantages_imgs {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 20px;

      img {
        width: 330px;
        height: auto;
        padding: 10px;
        border-radius: 25px;
      }
    }
  }

.resources_section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 0 50px 0;
  text-align: center;
  background-color: $background;

  .resources_text {
    display: flex column;
    padding: 30px 10px 10px;
    font-size: 2rem;
    text-align: center;
    
    h2 {
      font-size: 3rem;
      font-weight: 400;
      padding-bottom: 20px;
    }
  }

  .resources_icons {
    display: flex row;
    justify-content: space-around;
    font-size: 1.5rem;

    .fa-brands {
      padding: 5px;
    }
  }
}

.solutions {
  display: flex;
  justify-content: center;
  background-color: $background;
  padding-bottom: 50px;

  .solutions_text {
    text-align: center;
    font-size: 2rem;
    padding: 30px 0;
  }

  .solutions_squares {
    display: flex column;

    .square {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 10px;
      padding: 30px;
      width: 280px;
      height: 220px;
      background-color: #ffffff;
      border-radius: 15px;


      i {
        font-size: 4rem;
        padding-bottom: 60px;
      }

      p {
        font-size: 2rem;
        max-width: 200px;
      }
    }
  }

}

.pricing {
  background-color: $background;
  display: flex;
  flex-direction: column;
  align-items: center;

  .pricing_plans {
    //

    li {
      list-style: none;
    }

    .pricing_card {
      display: flex column;
      text-align: center;
      height: 400px;
      width: 300px;
      background: radial-gradient(circle at 100% 100%, #f0f0f0 0, #f0f0f0 10px, transparent 10px) 0% 0%/15px 15px no-repeat,
      radial-gradient(circle at 0 100%, #f0f0f0 0, #f0f0f0 10px, transparent 10px) 100% 0%/15px 15px no-repeat,
      radial-gradient(circle at 100% 0, #f0f0f0 0, #f0f0f0 10px, transparent 10px) 0% 100%/15px 15px no-repeat,
      radial-gradient(circle at 0 0, #f0f0f0 0, #f0f0f0 10px, transparent 10px) 100% 100%/15px 15px no-repeat,
      linear-gradient(#f0f0f0, #f0f0f0) 50% 50%/calc(100% - 10px) calc(100% - 30px) no-repeat,
      linear-gradient(#f0f0f0, #f0f0f0) 50% 50%/calc(100% - 30px) calc(100% - 10px) no-repeat,
      linear-gradient(317deg, transparent 0%, #ffd027 0%, #ff5431 77%);
border-radius: 15px;
padding: 5px;
box-sizing: border-box;

      .pricing_card_title {
        padding: 20px;
        font-size: 3rem;

        h4 {
          padding-bottom: 20px;
        }

        h5 {
          padding-bottom: 8px;
        }

       p {
        font-size: 1.5rem;
       }
      }

      .pricing_card_list {
        display: flex column;
        font-size: 1.8rem;
        text-align: left;
        padding: 0 20px;
        line-height: 40px;
      }

      i {
        margin-right: 10px;
        background-color: $main-first;
        border: 5px solid $main-first;
        border-radius: 50px;
        color: $text-white;
      }

    }
  }

}

@media(max-width:768px){
  .logo_text {
    display: none;
  }
}

@media(min-width: 768px){
  .hamburger {
    display: none;
  }
  
  .nav_bar_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 20px;

    ul {
        display: flex;
        flex-direction: row;
        font-size: 1.5rem;
    }

    .nav_bar_btn {
      font-size: 1.2rem;
      font-weight: bold;
      margin: 0;
      padding: 0;
      transition: background-color .3s;
    }

    .logo_text {
      display: flex;
      justify-content: space-between;
      width: 80px;
      font-size: 2rem;
      font-weight: 700;
    }

    .nav_bar_btn:hover, {
      background: #FF5431;
      background: linear-gradient(to right, #FF5431 0%, #ffd027 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    a {
      transition: color .2s;
    }

    a:hover {
      color: $main-first;
    }
  }

  .hero_section {
    display: flex;
    flex-direction: column;
    padding-top: 40px;

    .hero {
      display: flex;
      flex-direction: row;
      padding-top: 40px;

      h1 {
        font-size: 7rem;
        text-align: right;
        padding: 10px 10px 0;
        margin-right: 10px;
      }
    
      img {
        width: 260px;
        height: 160px;
       }
    }

    span {
      font-size: 6rem;
      padding: 0 0 100px 0;
    }
    h1 {
      padding: 0;
    }
  }

  .advantages_section {
    .advantages_text {
      flex-direction: row;
      justify-content: space-around;
      padding: 40px 40px 0px 40px;
      

      h2 {
        font-size: 3rem;
        text-align: left;
        width: 50vw;
      }

      .advantages_btn:hover {
        background: #FF5431;
        background: linear-gradient(to right, #FF5431 0%, #ffd027 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .advantages_imgs {
      flex-direction: row;
      justify-content: space-evenly;
      padding: 0 40px 40px;

      .data-img, .dashboard-img {
        width: 380px;
      }
    } 
  }

  .solutions {
    .solutions_squares {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 600px;
    }
  }
}

@media(min-width: 1200px){
  .advantages_section {

    .advantages_text{
      justify-content: space-around;
    }

    .advantages_imgs {
      justify-content: center;

      .data-img {
        width: 480px;
      }

      .dashboard-img {
        width: 480px;

      }
    } 
  }
}

@media(min-width: 1400px){
  .advantages_section {

    .advantages_img, .advantages_text {
      justify-content: center;
    } 
  }
}


.is_active {
  display: none;
}

  















